PORT=5000

# cors policy = to gep permisson to interact with frontend
CORS_ORIGIN=

# database 
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

# jsonwebtoken for authentication
JWT_ACCESS_SECRET=''

# resend api key for email
RESEND_API_KEY=

# cloudinayr for image
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEy=