     * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        body {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(135deg, #e3e5e9, #4bbae6);
        }

        .login-box {
            width: 360px;
            background: white;
            padding: 30px;
            border-radius: 15px;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
        }

        .login-box h2 {
            text-align: center;
            margin-bottom: 25px;
            color: #333;
        }

        .input-group {
            margin-bottom: 18px;
        }

        .input-group label {
            display: block;
            margin-bottom: 7px;
            font-weight: bold;
            color: #333;
        }

        .input-group input {
            width: 100%;
            padding: 11px;
            border: 1px solid #ccc;
            border-radius: 8px;
            outline: none;
            font-size: 15px;
        }

        .input-group input:focus {
            border-color: #007bff;
        }

        .options {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            font-size: 14px;
        }

        .options a {
            color: #007bff;
            text-decoration: none;
        }

        .options a:hover {
            text-decoration: underline;
        }

        button {
            width: 100%;
            padding: 11px;
            border: none;
            border-radius: 8px;
            background: #2375e0;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }

        button:hover {
            background: #448bd6;
        }

        .register {
            text-align: center;
            margin-top: 20px;
            font-size: 14px;
        
        }
        .register a:hover {
            text-decoration: underline;
            text-decoration-color: skyblue;
        }

        .register a {
            color: #007bff;
            text-decoration: none;
            font-weight: bold;
        }

        #message {
            text-align: center;
            margin-top: 15px;
            font-weight: bold;
        }